{% load static %}
{% include 'user_header.html' %}

  <style>


    .card {
      width: 100%;
      max-width: 600px;
      padding: 30px;
      border-radius: 15px;
      box-shadow: 0 10px 25px rgba(0,0,0,0.2);
      background-color: white;
    }

    .form-label {
      font-weight: 500;
    }

    .btn-primary {
      background-color: #89253e;
      border: none;
    }

    .btn-primary:hover {
      background-color: #6a1d32;
    }
  </style>
</head>
<body>
<hr class="mb-4">
<div class="container mt-4">
  <h2>All Houses for Sale</h2>
  {% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }} mt-3" role="alert">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}
  <div class="row">


    {% for house in houses %}
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ house.house_type }} - ₹{{ house.cost }}</h5>
            <p class="card-text">
              <strong>City:</strong> {{ house.city }}<br>
              <strong>Area:</strong> {{ house.area }}<br>
              <strong>Address:</strong> {{ house.address }}<br>
              <strong>Facilities:</strong> {{ house.facilities }}<br>
              <strong>Status:</strong> {{ house.sale_status }}<br>
              <strong>Added by:</strong> {{ house.added_by }}
            </p>
          </div>
          {% if house.images.all %}
            <div class="card-footer d-flex flex-wrap">
              {% for img in house.images.all %}
                <img src="{{ img.image.url }}" class="img-thumbnail me-2 mb-2" style="width: 100px;">
              {% endfor %}


            </div>
          <a href="{% url 'house_book_request' house.id %}" class="text-white"> <button class="btn btn-danger"> Book Now</button></a>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>


{% include 'footer.html' %}
